/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial;
}

#fixedheader {
    position: fixed;
    z-index: 9999;
    white-space: nowrap;
    width: 100%;
    max-width: 1170px;
    overflow: visible;
}

div#fixedheader div {
    overflow: visible !important;
}

ul.dropdown-menu {
    left: 20px;
}

.ErrorMessages {
    color: #ff0f0f;
    font-weight: bold;
}

#mobileheader {
    height: 110px;
    z-index: 9999;
    white-space: nowrap;
    margin: auto;
}

.ErrorMessages {
    color: #ff0f0f;
    font-weight: bold;
}

.BlogPost div {
    overflow: hidden;
}

.HotLinks {
}

.text-center {
    text-align: center;
}

.FacebookIFrame {
    margin: 20px 0px 0px 23px;
}

.CartIcon {
    margin-top: 17px;
}

.CartSummary {
    color: #000000;
    font-size: .7em;
}

.SearchHeaderText {
    color: #ffffff;
    font-size: .8em;
}

.AlertHeader {
    border: solid 1px black;
    background-color: Yellow;
    padding: 3px 0px 3px 0px;
    margin: 7px 0px 7px 0px;
    text-align: center;
    display: none;
}

.ContestPlacesProfile {
    float: left;
    margin: 0px 5px 0px 0px;
    font-weight: bold;
}

.SkaterProfileBlocks {
    width: 300px;
    float: left;
    padding: 0px 15px 10px 0px;
}

.MugShotProfile {
}

.SkaterIconMenuItem {
    margin-bottom: 10px;
    text-align: center;
    background-color: #d6d6d6;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.DPTComment {
    margin: 5px;
    padding: 5px;
}

.PostInfo {
    margin: 10px 10px 10px 0px;
}

.PostMediaStrip {
    border-top: solid 2px #dddddd;
    background-color: #ffffff;
    margin: 25px 0px 0px 0px;
    clear: both;
}

.PostMediaStripSub {
    padding: 8px 0px 5px 0px;
    text-align: center;
}

.FeaturedCompany {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 230px;
    text-align: center;
}

.CompanyDiv {
    margin: 0px;
    padding: 0px;
    height: 68px;
    text-align: center;
}

.CompanyLinks {
    font-size: 1.1em;
}

.GridMfgs280 {
    margin: 0px;
    padding: 0px;
}

.NewArrivalSmallBlock {
    padding: 5px;
    text-align: center;
    height: 110px;
}

.NewArrivalSmallBlockText {
    font-size: .8em;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.NewArrivalSmallBlockTextAlert {
    font-size: .7em;
    font-weight: bold;
    color: Red;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#NewArrivals {
    width: 100%;
}

.ProductBlock {
    height: 290px;
    text-align: center;
}

    .ProductBlock img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.ProductBlockText {
    font-size: 1.1em;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.ProductBlockTextAlert {
    font-size: .7em;
    font-weight: bold;
    color: Red;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.SkaterPhotosPage {
    border: solid 1px black;
    text-align: center;
    float: left;
    height: 95px;
    width: 95px;
    margin: 7px;
    padding: 5px;
}

.ContestGameResult {
    width: 70px;
    font-size: .8em;
    float: left;
    text-align: center;
    border: solid 1px black;
    margin: 3px;
    padding: 0px;
}

.ContestGamePick {
    width: 35px;
    float: left;
    font-size: .7em;
}

.ContestGameIcon {
    text-align: center;
}

.AlertHeader {
    background: #fff6bf center no-repeat;
    background-position: 15px 50%;
    text-align: left;
    padding: 5px 20px 5px 20px;
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
    font-size: .9em;
    border-right: solid 0px white;
    border-left: solid 0px white;
}

#DismissHeader {
    float: right;
    font-weight: bold;
}

.SizeSelectionGridItem {
    border: solid 1px #D4D2D2;
    height: 30px;
    width: 38px;
    text-align: center;
    font-weight: bold;
    color: Red;
    padding: 10px 0px 0px 0px;
    margin: 2px 2px 0px 2px;
    float: left;
}

.WhatsUpTags {
    border: solid 1px #D4D2D2;
    padding: 0px;
    margin: 4px;
    width: 50%;
    height: 30px;
}

.centered-cell {
    text-align: center;
}

.SizeSelectionGridItemSmall {
    border: solid 1px #D4D2D2;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: Red;
    padding: 5px 0px;
    margin-top: 5px;
    min-width: 37px;
    height: 30px;
}

.SizeSelectionGridItemNonNumeric {
    border: solid 1px #D4D2D2;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: Red;
    padding: 5px;
    margin: 5px;
}

.FreeShipping {
    font-size: .9em;
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: #ff0f0f;
    clear: both;
}

.AlternateImagesAvailable {
    font-size: .9em;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #ff0f0f;
    clear: both;
}

.AltImages {
    width: 70px;
    height: 90px;
    float: left;
    margin: 1px 2px 1px 2px;
    padding: 0px;
    font-size: .7em;
    color: #000000;
}

.AlternateItems {
    background-color: #e1dfdf;
}

.CartAddedAlert {
    display: none;
    border: solid 1px red;
    background-color: #D4D2D2;
    text-align: center;
    padding: 5px;
}

.NotesAndTips {
    font-size: 1em;
}

input {
    padding: 2px;
    border: solid 1px #974040;
    margin: 10px;
    font-weight: bold;
}

select {
    font-weight: bold;
}

.Checkout {
    padding: 2px;
    margin: 3px 0px;
    width: 100%;
}

form {
    margin: 10px 0px 5px 0px;
    border-top: solid 0px black;
    border-bottom: solid 0px black;
    background-color: #ffffff;
    padding: 10px 15px 10px 15px;
}

.PaymentForm {
    margin: 0;
    border: solid 0px black;
    padding: 0px;
    background-color: #dddddd;
}

a:visted {
    text-decoration: none;
    color: #974040;
}

a {
    text-decoration: none;
    color: #d52626;
}

    a:hover {
        text-decoration: none;
        color: #974040;
    }

p {
    padding: 10px;
}

.BlogPost {
    margin: 10px 0px 5px 0px;
    border-top: solid 0px black;
    border-bottom: solid 0px black;
    padding: 10px 15px 10px 8px;
    background-color: #ffffff;
}

    .BlogPost img {
        max-width: 100%;
    }

    .BlogPost ul {
        font-size: 1.3em;
    }

.line-separator {
    height: 0px;
    margin-top: 10px margin-bottom:10px background:#000;
    border-bottom: 2px solid #000;
}

.ShoeSizeGrid {
}

.FeaturesItems {
    text-align: center;
    padding: 10px;
    height: 350px;
}

.SpotTeam {
    text-align: center;
}

.FeatCompanies {
    text-align: center;
    margin-bottom: 15px;
    min-height: 218px;
}


/* TAMPA PRO 2016 PAGE ADDITIONS */


/*.EventsItems{float:left; width:100%; text-align:center; margin: 1px; padding:0px; height:30px;}*/

.doublespace {
    white-space: pre-wrap;
}

.pro16title {
    position: relative;
    width: 940px;
    height: 144px;
    background-image: url("images3/PROTIX-BANNER.png");
    background-repeat: no-repeat;
}

.pro17title {
    position: relative;
    height: 144px;
    background-image: url("images3/PROTIX-BANNER17.png");
    background-repeat: no-repeat;
    background-color: #f16631;
    background-position: center;
    background-size: contain;
}

.pro16menu {
    position: relative;
    width: 940px;
    height: 350px;
    background-image: url("images3/pro16-podium-16.png");
    background-repeat: no-repeat;
}

.pro17menu {
    position: relative;
    background-image: url("images3/pro16-podium.png");
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: contain;
    background-position: right;
}

.pro16results {
    padding: 10px 20px 0px 20px;
    position: relative;
    width: 900px;
    height: 340px;
    background-image: url("images3/turtle-right.png");
    background-repeat: no-repeat;
}

.pro17results {
    padding: 10px 20px 0px 20px;
    position: relative;
    height: 340px;
    background-image: url("images3/turtle-right17.png");
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: contain;
    background-position: right;
}

.pro16contest {
    padding: 10px 20px 10px 20px;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    background-image: url("images3/whale-right.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    text-align: center;
}

.pro16photos {
    padding: 10px 20px 10px 20px;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pro16hash {
    padding: 10px 20px 10px 20px;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

    .pro16hash img {
        margin-bottom: 5px;
    }

.textfloatleft {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 10px 10px 10px;
}

.textfloatright {
    position: absolute;
    top: 20px;
    left: 470px;
    padding: 10px 10px 10px 10px;
}


/* COLORED BARS */

.ProBlogWhite {
    padding: 10px 20px 0px 20px;
    background-color: #ffffff;
    width: 900px;
    height: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
}

    .ProBlogWhite img {
        width: 100%;
    }

.imagebottom {
    margin-top: auto;
    max-width: 100%;
    height: auto;
}

.ProBlogBlack {
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    background-color: #000000;
}

.ProBlogBlue {
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    background-color: #60C5BA;
}

.ProBlogOrange {
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    background-color: #f16631;
}

.ProBlogBlue2 {
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    background-color: #00A0DC;
}

<!-- END OF ADDITIONS --><!-- ACCORDION STYLE --><!-- END ACCORDION STYLE --> .CategoryListSmall {
    font-size: .7em;
}

.BlogText {
    font-size: .9em;
    margin: 0px;
}

.TwitterFeed li {
    margin: 5px 5px 10px 15px;
}

#twitter_update_list {
    padding: 10px;
}

.post_box {
    position: relative;
}

.social-post {
    position: absolute;
    top: 3.0em;
}

.counter-twitter {
}

.counter-fb-like {
}

.counter-google-one {
}

.counter-stumble {
}

.instagram-placeholder {
    float: left;
    width: 115px;
    padding: 4px;
    height: 175px;
    text-align: center;
}

.instagram-image {
    margin-top: 10px;
    height: 100px;
    width: 100px;
}

.instagram-caption {
    height: 40px;
    overflow: hidden;
    font-size: .6em;
}

.MfgrAD600 {
    display: none;
    clear: both;
}

.MfgrAD280 {
    display: none;
    clear: both;
}

.Ollie {
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 100%;
}


/* TRANSITIONS MICRO SITE */

.TransitionsLink a:link {
    color: black;
}

.TransitionsLink a:hover {
    color: red;
}

.TransitionsLink a:visted {
    text-decoration: none;
    color: black;
}

.TransitionsGallery {
    margin: 5px;
    margin-bottom: -0.5px;
    border: 0px;
    float: left;
    width: 48.86%;
}

    .TransitionsGallery img {
        width: 100%;
        height: auto;
    }


/* END OF TRANSITIONS SITE */

.WhatsUpFloat {
    float: left;
    margin-right: 15px;
    margin-bottom: auto;
}

h1 {
    font-size: 1.5em;
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    color: black
}

    h1 a {
        font-family: 'Jockey One', sans-serif;
        text-transform: uppercase;
        color: black
    }

h2 {
    font-size: 1.6em;
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    color: black
}

    h2 a {
        font-family: 'Jockey One', sans-serif;
        text-transform: uppercase;
        color: black
    }

h3 {
    font-size: .7em;
}

h4 {
    font-size: 1.5em;
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    color: white
}

h5 {
    font-size: 1.2em;
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    color: #1e170d
}

.ProductPager {
    font-size: 1.3em;
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

    .ProductPager span {
        letter-spacing: 5px;
        margin-left: 5px;
    }

    .ProductPager a {
        font-size: 1.1em;
        font-family: 'Jockey One', sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #d52626
    }

.PhotoBox {
    border: solid 1px black;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    font-size: 1.2em;
    text-align: center;
}

.PhotoBox2011 {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    border: solid 1px black;
    background-color: #F4F3FA;
    text-align: center;
}

    .PhotoBox2011 img {
        max-width: 100%;
        height: auto;
        margin: 0px 0px 5px 0px !important;
    }


/*FOR THE OLD SITE: */

.PageTitles {
    text-align: left;
    padding: 3px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 2px;
}


/*FOR THE OLD SITE: */

.NewsTitles {
    text-align: left;
    padding: 3px;
    font-weight: bold;
    font-size: 1em;
    margin: 2px;
}

.AlternateItem {
    background-color: #F6F4F4;
}

.BuyButtonInput {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    background-color: #ff0000;
    color: #ffffff;
    padding: 3px 6px;
}

.BuyButton a {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    background-color: #ff0000;
    margin: 0px 2px 1px 2px;
    padding: 4px 6px;
    color: #ffffff;
}

    .BuyButton a:hover {
        color: #f9fc02;
        text-decoration: none;
    }

#MasonryWrapper {
    margin-top: 20px;
    text-align: center;
}

.PhotoBox2012 {
    border: solid 1px #d6d6d6;
    font-size: 1em;
    min-height: 300px;
    margin-bottom: 15px;
}

    .PhotoBox2012 img {
        max-width: 100%;
        height: auto;
        margin: 0px !important;
    }

.SkaterCaption2012 {
    float: left;
    width: 70px;
    text-align: center;
}


/* LAYOUT SHIT */

body,
html {
    margin: 0;
    padding: 0;
    color: #000;
    background: #dddddd;
    background: url(http://www.skateparkoftampa.com/spot/images3/spot-xmas-wrap.png) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    overflow-x: hidden;
}

#header {
    padding: 0px;
    background-color: #fff;
    <!-- background-image: url(layout/headerbackground.gif);
    --> background-repeat: repeat;
    white-space: nowrap;
}

#headercart {
    text-align: right;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    white-space: nowrap;
    padding-right: 15px;
    padding-top: 10px;
}

#headerfacebook {
    height: 59px;
    <!-- background-image: url(layout/headerbackground.gif);
    --> background-repeat: repeat;
    color: White;
    white-space: nowrap;
}

.slider {
    padding-top: 110px;
}

.home-cats {
    margin-top: 20px;
}

.home-cats img {
    margin-bottom: 10px;
}

.home-cats a {
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
}
.home-cats .more {
margin-top: 20px;

}
a.more {
    color: #fff;
    background-color: #000;
    padding: 5px 20px;
}
    a.more:hover {
    text-decoration: none;
    color: #fff;
    } 
    
    .more-cat-sec {
        height: 50px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 45px;
    }
.navbar-default .navbar-toggle {
    border-color: #000 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: #000;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000 !important;
} 

.navbar {
    margin-bottom: 0px !important;
}

.navbar-default {
    background-color: #fff !important;
}

#nav {
    padding: 5px 5px;
    background: #fff;
    color: #ffffff;
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    border-top: none;
    white-space: nowrap;
    border-bottom: none !important;
}

    #nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #ffffff;
        font-family: 'Jockey One', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        white-space: nowrap;
    }


    /* #nav li:not(:first-child) {
        padding-left: 20px;
    } */

    #nav li {
        color: #ffffff;
        font-family: 'Jockey One', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        white-space: nowrap;
        padding-left: 50px;
    }

.dropdown-menu li {
    padding-left: 0px !important;
}

#nav a {
    color: #000;
    text-decoration: none;
    font-family: 'Jockey One', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5em;
    white-space: nowrap;
}

    #nav a:hover {
        color: #000;
        text-decoration: none;
        color: #bf1c1e;
        text-transform: uppercase;
        font-family: 'Jockey One', sans-serif;
        font-weight: normal;
        font-size: 1.5em;
        white-space: nowrap;
    }

#sidebar {
    background: #ffffff !important;
    border-left: 1px solid #dddddd;
}

#wrap,
#sidebar {
    background: #ffffff !important;
}

#main {
    margin-top: 110px;
    background: #ffffff !important;
}

#mobilemain {
    float: left;
    width: 630px;
    padding: 10px;
    margin-top: 25px;
    background: #dddddd;
}

#sidebar {
    background: #dddddd;
    margin-top: 110px;
}

#mobilesidebar {
    float: right;
    width: 290px;
    padding: 10px;
    margin-top: 25px;
    background: #dddddd;
}

#footer {
    clear: both;
    padding: 5px 10px;
    background-image: url(layout/footerbackground2.gif);
    background-repeat: repeat;
    border-top: solid 2px white;
    font-size: 1em;
    color: #ffffff;
}

    #footer p {
        margin: 0;
    }

* html #footer {
    height: 1px;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
}

    #myBtn:hover {
        background-color: #555;
        /* Add a dark-grey background on hover */
    }

.img-center {
    margin-left: auto;
    margin-right: auto;
}

.search input {
    width: 100%;
    margin-bottom: 5px;
}

.skaters {
    margin-bottom: 10px;
}

.contests {
    text-align: center;
    height: 260px;
    margin-top: 0px;
}

.trans-info img {
    margin-bottom: 10px;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
}


/* Ipad PRO */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1365px) {
    #fixedheader {
        max-width: 965px;
    }

    #nav li {
        padding-left: 33px;
    }

    #sidebar {
        margin-top: 110px;
        border-left: 1px solid #ddd;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    #fixedheader {
        max-width: 981px;
    }

    #sidebar {
        margin-top: 110px;
        border-left: 1px solid #ddd;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    #fixedheader {
        max-width: 746px;
    }

    #main {
        margin-top: 175px;
    }

    #nav li {
        padding-left: 3px;
    }

    .BlogPost img {
        margin-left: auto;
        margin-right: auto;
    }

    .product-title {
        text-align: center;
    }

    #sidebar {
        margin-top: 0px;
        border-left: 1px solid #ddd;
    }

    h1,
    h2 {
        text-align: center;
    }

    input#t {
        width: 100%;
        margin-bottom: 10px;
    }

    .ProductBlock {
        height: 290px;
    }

    .staff img {
        width: 100%;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    #fixedheader {
        max-width: 416px;
    }

    #main {
        margin-top: 0px;
    }

    .BlogPost {
        padding: 10px;
    }

        .BlogPost img {
            margin-left: auto;
            margin-right: auto;
        }

    .product-title {
        text-align: center;
    }

    #sidebar {
        margin-top: 0px;
    }

    h1 {
        text-align: center;
    }

    #tampa-pro-home {
        height: 120px !important;
        background-size: contain !important;
    }

    .WhatsUpFloat {
        float: none;
        margin-right: 0px;
    }

        .WhatsUpFloat img {
            width: 100%;
        }

    .skater-results {
        text-align: center;
    }
    .logo{
        padding-top: 10px;
    }
    #headercart{
        padding-top: 15px;
    }
    
    nav.navbar.navbar-default {
        height: 0px;
        min-height: 0px;
    }
    .slider {
    padding-top: 50px;
    }
    div#nav {
    border-bottom: 3px solid #000 !important;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .BlogPost img {
        margin-left: auto;
        margin-right: auto;
    }

    .product-title {
        text-align: center;
    }
}
