/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.PostMediaStripSub {
    display: none;
} 

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial;
}
a {
    color:#000;
}
    a:hover {
        color: #b70909;
    }
#fixedheader {
    position: fixed;
    z-index: 9999;
    white-space: nowrap;
    width: 100%;
    max-width: 1170px;
    overflow: visible;
    border-bottom: 2px solid #000;

}
.home-slider {margin-top: 111px;
         
}
.BlogPost.home-post .Ollie {
    padding: 0px;
}
.BlogPost.home-post img {
    float: left;
    max-width: 120px;
    padding-top: 3px;
    margin-right: 10px;
}
.BlogPost.home-post {
    padding-top: 0px;
    padding-bottom: 0px;
}
    .BlogPost.home-post h1 {
        font-size: 1.6em;
    }
h1, h2, h3, h4, h5 {
    font-weight: bold;
}
.chkout-shipping ul,
.chkout-shipping li {
    font-size: 14px;
}
div#fixedheader div {
    overflow: visible !important;
}
.logo {
    margin-left: auto;
    margin-right: 26%;
}
ul.dropdown-menu {
    left: 20px;
}

.ErrorMessages {
    color: #ff0f0f;
    font-weight: bold;
}

#mobileheader {
    height: 110px;
    z-index: 9999;
    white-space: nowrap;
    margin: auto;
}

.ErrorMessages {
    color: #ff0f0f;
    font-weight: bold;
}

.BlogPost div {
    
}

.HotLinks {
}

.text-center {
    text-align: center;
}

.FacebookIFrame {
    margin: 20px 0px 0px 23px;
}

.CartIcon {
    margin-top: 17px;
}

.CartSummary {
    color: #000000;
    font-size: .7em;
}

.SearchHeaderText {
    color: #ffffff;
    font-size: .8em;
}

.AlertHeader {
    border: solid 1px black;
    background-color: Yellow;
    padding: 3px 0px 3px 0px;
    margin: 7px 0px 7px 0px;
    text-align: center;
    display: none;
}

.ContestPlacesProfile {
    float: left;
    margin: 0px 5px 0px 0px;
    font-weight: bold;
}

.SkaterProfileBlocks {
    width: 300px;
    float: left;
    padding: 0px 15px 10px 0px;
}

.MugShotProfile {
}

.SkaterIconMenuItem {
    margin-bottom: 10px;
    text-align: center;
    background-color: #d6d6d6;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.DPTComment {
    margin: 5px;
    padding: 5px;
}

.PostInfo {
    margin: 10px 10px 10px 0px;
}

.PostMediaStrip {
    background-color: #ffffff;
    margin: 25px 0px 0px 0px;
    clear: both;
}

.PostMediaStripSub {
    padding: 8px 0px 5px 0px;
    text-align: center;
}
a.MorePosts {
    background: #827e7e;
    color: #fff !important;
    padding: 3px 10px;
}

.FeaturedCompany {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 230px;
    text-align: center;
}

.CompanyDiv {
    margin: 0px;
    padding: 0px;
    height: 68px;
    text-align: center;
}

.CompanyLinks {
    font-size: 1.1em;
}

.GridMfgs280 {
    margin: 0px;
    padding: 0px;
}

#NewArrivals .NewArrivalSmallBlock {
    padding: 5px;
    text-align: center;
    min-height: 193px;
}
.NewArrivalSmallBlock.tall {
    text-align: center;
    min-height: 108px;
}
.NewArrivalSmallBlockText {
    font-size: .8em;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.NewArrivalSmallBlockTextAlert {
    font-size: .7em;
    font-weight: bold;
    color: Red;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
#NewArrivals {
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 35px;
}
.home #NewArrivals {
    border-bottom: 1px solid #dddddd;
}

.ProductBlock {
    height: 290px;
    text-align: center;
}

    .ProductBlock img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.ProductBlockText {
    font-size: 0.9em;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.ProductBlockTextAlert {
    font-size: .7em;
    font-weight: bold;
    color: Red;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.SkaterPhotosPage {
    border: solid 1px black;
    text-align: center;
    float: left;
    height: 95px;
    width: 95px;
    margin: 7px;
    padding: 5px;
}

.ContestGameResult {
    width: 70px;
    font-size: .8em;
    float: left;
    text-align: center;
    border: solid 1px black;
    margin: 3px;
    padding: 0px;
}

.ContestGamePick {
    width: 35px;
    float: left;
    font-size: .7em;
}

.ContestGameIcon {
    text-align: center;
}

.AlertHeader {
    background: #fff6bf center no-repeat;
    background-position: 15px 50%;
    text-align: left;
    padding: 5px 20px 5px 20px;
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
    font-size: .9em;
    border-right: solid 0px white;
    border-left: solid 0px white;
}

#DismissHeader {
    float: right;
    font-weight: bold;
}

.SizeSelectionGridItem {
    border: solid 1px #D4D2D2;
    height: 30px;
    width: 38px;
    text-align: center;
    font-weight: bold;
    color: Red;
    padding: 10px 0px 0px 0px;
    margin: 2px 2px 0px 2px;
    float: left;
}

.WhatsUpTags {
    border: solid 1px #D4D2D2;
    padding: 0px;
    margin: 4px;
    width: 50%;
    height: 30px;
}

.centered-cell {
    text-align: center;
}

.SizeSelectionGridItemSmall {
    border: solid 1px #D4D2D2;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: Red;
    padding: 5px 0px;
    margin-top: 5px;
    min-width: 37px;
    height: 30px;
}
    .SizeSelectionGridItemSmall.name {
        text-transform: uppercase;
    
    }
    
SizeSelectionGridItemSmall .SizeSelectionGridItemNonNumeric {
    border: solid 1px #D4D2D2;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: Red;
    padding: 5px;
    margin: 5px;
}

.FreeShipping {
    font-size: .9em;
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: #ff0f0f;
    clear: both;
}

.AlternateImagesAvailable {
    font-size: .9em;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #ff0f0f;
    clear: both;
}

.AltImages {
    width: 70px;
    height: 90px;
    float: left;
    margin: 1px 2px 1px 2px;
    padding: 0px;
    font-size: .7em;
    color: #000000;
}

.AlternateItems {
    background-color: #e1dfdf;
}

.CartAddedAlert {
    display: none;
    border: solid 2px #b90b10;
    text-align: center;
    padding: 5px;
}

.NotesAndTips {
    font-size: 1em;
}
div#ctl00_cphSidebar_pnlUPS {
    font-size: 1em !important;
}
input {
    padding: 2px;
    border: solid 1px #974040;
    margin: 10px;
    font-weight: bold;
}

select {
    font-weight: bold;
}

.Checkout {
    padding: 2px;
    margin: 3px 0px;
    width: 100%;
}
input.ICButton {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #b80b10 !important;
    border-color: #b80b10 !important;
    margin: 6px 0px 0px 0px;
    padding: 10px 0px;
    color: #ffffff !important;
    display: block;
    width: 100%;
}

form {
    margin: 10px 0px 5px 0px;
    border-top: solid 0px black;
    border-bottom: solid 0px black;
    background-color: #ffffff;
    padding: 10px 15px 10px 15px;
}
    form#icForm {
        padding: 0px;
    }

.PaymentForm {
    margin: 0;
    border: solid 0px black;
    padding: 0px;
}

a:visted {
    text-decoration: none;
    color: #974040;
}
.BlogPost div a {
color: #000;
}
span.price {
font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #974040;
}

p {
    padding: 10px;
}
.fourofour {
    padding: 40px;
    text-align: center;
}
div#fourbody {
    background-color: #fff;
}
.fourheader a {
    font-size: 1em !important;
}
.post-page .BlogPost {
    float: left;
}
    .BlogPost {
        margin: 10px 0px 5px 0px;
        border-top: solid 0px black;
        border-bottom: solid 0px black;
        padding: 10px 15px 10px 8px;
        background-color: #ffffff;
        min-height: 120px;
    }

    .BlogPost img {
        max-width: 100%;
    }

    .BlogPost ul {
        font-size: 14px;
    }
ul.shop-cats-list {
    font-size: 18px;
}
        .about-pg a,
        .BlogPost.event-pg a ,
        .BlogPost.event-pg div a {
            color: #b70909;
            text-decoration: underline;
        }
h2 a {
color: #000 !important;
    text-decoration: none;
}
.related-products {
min-height: 200px;
}

.line-separator {
    height: 0px;
    margin-top: 30px;
    margin-bottom:30px;
    border-bottom: 1px solid #ddd;
}

.ShoeSizeGrid {
    overflow: auto;
    width: 100%;
}

.Button {
    background-color: #b80b10; /* Red */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    position: absoulute;
    width: 25%
}

.FeaturesItems {
    text-align: center;
    padding: 10px;
    height: 350px;
}
.FeaturesItems h2 {
    font-size: 1.2em;
}
.SpotTeam {
    text-align: center;
}

.FeatCompanies {
    text-align: center;
    margin-bottom: 15px;
    min-height: 218px;
}
input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}
input[type="text"] {
    border: 1px solid #000;
}
.finalpay input[type="text"] {
    width: 100%;
}
/* TAMPA PRO 2016 PAGE ADDITIONS */


/*.EventsItems{float:left; width:100%; text-align:center; margin: 1px; padding:0px; height:30px;}*/

.doublespace {
    white-space: pre-wrap;
}

.pro16title {
    position: relative;
    width: 940px;
    height: 144px;
    background-image: url("images3/PROTIX-BANNER.png");
    background-repeat: no-repeat;
}

.pro17title {
    position: relative;
    height: 144px;
    background-image: url("images3/PROTIX-BANNER17.png");
    background-repeat: no-repeat;
    background-color: #f16631;
    background-position: center;
    background-size: contain;
}

.pro16menu {
    position: relative;
    width: 940px;
    height: 350px;
    background-image: url("images3/pro16-podium-16.png");
    background-repeat: no-repeat;
}

.pro17menu {
    position: relative;
    background-image: url("images3/pro16-podium.png");
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: contain;
    background-position: right;
}

.pro16results {
    padding: 10px 20px 0px 20px;
    position: relative;
    width: 900px;
    height: 340px;
    background-image: url("images3/turtle-right.png");
    background-repeat: no-repeat;
}

.pro17results {
    padding: 10px 20px 0px 20px;
    position: relative;
    height: 340px;
    background-image: url("images3/turtle-right17.png");
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: contain;
    background-position: right;
}

.pro16contest {
    padding: 10px 20px 10px 20px;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    background-image: url("images3/whale-right.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    text-align: center;
}

.pro16photos {
    padding: 10px 20px 10px 20px;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pro16hash {
    padding: 10px 20px 10px 20px;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

    .pro16hash img {
        margin-bottom: 5px;
    }

.textfloatleft {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 10px 10px 10px;
}

.textfloatright {
    position: absolute;
    top: 20px;
    left: 470px;
    padding: 10px 10px 10px 10px;
}


/* COLORED BARS */

.ProBlogWhite {
    padding: 10px 20px 0px 20px;
    background-color: #ffffff;
    width: 900px;
    height: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
}

    .ProBlogWhite img {
        width: 100%;
    }

.imagebottom {
    margin-top: auto;
    max-width: 100%;
    height: auto;
}

.ProBlogBlack {
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    background-color: #000000;
}

.ProBlogBlue {
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    background-color: #60C5BA;
}

.ProBlogOrange {
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    background-color: #f16631;
}

.ProBlogBlue2 {
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    background-color: #00A0DC;
}

<!-- END OF ADDITIONS -->

 .CategoryListSmall {
    font-size: .7em;
}

.BlogText {
    font-size: 14px;
    margin: 0px;
}

.TwitterFeed li {
    margin: 5px 5px 10px 15px;
}

#twitter_update_list {
    padding: 10px;
}

.post_box {
    position: relative;
}

.social-post {
    position: absolute;
    top: 3.0em;
}

.counter-twitter {
}

.counter-fb-like {
}

.counter-google-one {
}

.counter-stumble {
}

.instagram-placeholder {
    float: left;
    width: 115px;
    padding: 4px;
    height: 175px;
    text-align: center;
}

.instagram-image {
    margin-top: 10px;
    height: 100px;
    width: 100px;
}

.instagram-caption {
    height: 40px;
    overflow: hidden;
    font-size: .6em;
}

.MfgrAD600 {
    display: none;
    clear: both;
}

.MfgrAD280 {
    display: none;
    clear: both;
}

.Ollie {
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 100%;
}


/* TRANSITIONS MICRO SITE */

.TransitionsLink a:link {
    color: black;
}

.TransitionsLink a:hover {
    color: red;
}

.TransitionsLink a:visted {
    text-decoration: none;
    color: black;
}

.TransitionsGallery {
    margin: 5px;
    margin-bottom: -0.5px;
    border: 0px;
    float: left;
    width: 48.86%;
}

    .TransitionsGallery img {
        width: 100%;
        height: auto;
    }


/* END OF TRANSITIONS SITE */

/* ACCORDION MENU */

.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-bottom: solid 2px black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: left;
    outline: none;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #b70909;
    color: white; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.deadaccordion {
    background-color: #b70909;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-bottom: solid 2px black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    text-align: left;
    outline: none;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    transition: 0.4s;
}


/* END OF ACCORDION MENU */

.WhatsUpFloat {
    float: left;
    margin-right: 15px;
    margin-bottom: auto;
}

h1 {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: black
}

    h1 a {
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        color: black
    }

h2 {
    font-size: 1.6em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: black
}

    h2 a {
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        color: black
    }

h3 {
    font-size: .7em;
}

h4 {
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: white
}

h5 {
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #1e170d
}

.ProductPager {
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

    .ProductPager span {
        letter-spacing: 5px;
        margin-left: 5px;
    }

    .ProductPager a {
        font-size: 1.1em;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #d52626
    }

.PhotoBox {
    border: solid 1px black;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    font-size: 1.2em;
    text-align: center;
}

.PhotoBox2011 {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    border: solid 1px black;
    background-color: #F4F3FA;
    text-align: center;
}

    .PhotoBox2011 img {
        max-width: 100%;
        height: auto;
        margin: 0px 0px 5px 0px !important;
    }



/*HOVER OVER IMAGE - ADDED BY CUB: */

.hoverimagebox {
    position: relative;
    width: 100%;
}

.hoverimage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hoverimagemiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hoverimagebox:hover .hoverimage {
  opacity: 0.3;
}

.hoverimagebox:hover .hoverimagemiddle {
  opacity: 1;
}

.himagetext {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}



/*FOR THE OLD SITE: */

.PageTitles {
    text-align: left;
    padding: 3px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 2px;
}


/*FOR THE OLD SITE: */

.NewsTitles {
    text-align: left;
    padding: 3px;
    font-weight: bold;
    font-size: 1em;
    margin: 2px;
}

.AlternateItem {
    background-color: #F6F4F4;
}

.BuyButtonInput {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    background-color: #b80b10 !important;
    border: 1px solid #b80b10 !important;
    color: #ffffff;
    padding: 3px 6px;
}
.SizeSelectionGridItemNonNumeric {
    background-color: #b80b10;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 0px;
}
    .SizeSelectionGridItemNonNumeric a {
        color: #fff !important;
    }
a.white {
    color: #fff !important;
}
.BuyButton a {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #b80b10;
    margin: 6px 0px 0px 0px;
    padding: 10px 0px;
    color: #ffffff !important;
    display: block;
}

.BuyButton a:hover {
    color: #f9fc02;
    text-decoration: none;
}

#MasonryWrapper {
    margin-top: 20px;
}

.PhotoBox2012 {
    border: solid 1px #d6d6d6;
    font-size: 1em;
    margin-bottom: 15px;
    break-inside: avoid;
    padding: 5px;
    width: 49%;
    float: left;
    margin-left: 5px;
}
    .PhotoBox2012 h2 {
        font-size: 16px;
    }
    .PhotoBox2012.masonry-brick {
        position: static !important;
        background-color: #eee;
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
        padding: 10px;
    }

    .PhotoBox2012 img {
        height: auto;
        min-width: 100%;
    }

.SkaterCaption2012 {
    float: left;
    width: 70px;
    margin-right: 10px;
    margin-top: 5px;
}
.PhotoBox2012 > div:nth-last-child(1) {
    min-height: 120px;
}
.PhotoBox2012.masonry-brick div {
    padding-top: 10px;
}


/* LAYOUT SHIT */

body,
html {
    margin: 0;
    padding: 0;
    color: #000;
    background: #dddddd;
    background-image: url(https://skateparkoftampa.com/spot/images3/website-bg-pattern2.jpg) !important;
    /*background-image: url(https://skateparkoftampa.com/spot/images3/spot-usa.jpg) !important;*/

    background-attachment: fixed;
}

#header {
    padding: 0px;
    background-color: #fff;
    <!-- background-image: url(layout/headerbackground.gif);
    --> background-repeat: repeat;
    white-space: nowrap;
    padding-top: 8px;
}

#headercart {
    text-align: right;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    white-space: nowrap;
    padding-right: 15px;
    padding-top: 10px;
}

#headerfacebook {
    height: 59px;
    <!-- background-image: url(layout/headerbackground.gif);
    --> background-repeat: repeat;
    color: White;
    white-space: nowrap;
}

.slider {
    padding-top: 105px;
}
#home-cat-grey-bg {
    background-color: #ededed;
    padding-bottom: 20px;
}
.home-cat {
    margin-top: 10px;
}
.home-cats {
 padding-top: 15px;
}
#home-cat-title {
    background-color: #827e7e;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
}
.home-cats img {
    margin-bottom: 10px;
}

.home-cats a {
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
}
.home-cats .more {
margin-top: 20px;

}
.social-home {
margin-top: 20px;
}
    .social-home a {
        color: #000;
    }
.social-home .fa {
    font-size: 32px;
    padding-right: 18px;
    padding-left: 18px;
}
.shipping-banner {
margin-top: 20px;
margin-bottom: 30px;
}
.shipping-banner-title {
    background-color: #b70909;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
}
a.more {
    color: #fff;
    background-color: #000;
    padding: 5px 20px;
}
    a.more:hover {
    text-decoration: none;
    color: #fff;
    } 
    
    .more-cat-sec {
        height: 50px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 45px;
    }
.navbar-default .navbar-toggle {
    border-color: #000 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: #000;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000 !important;
} 

.navbar {
    margin-bottom: 0px !important;
}

.navbar-default {
    background-color: #fff !important;
}

#nav {
    padding: 5px 5px;
    background: #fff;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    border-top: none;
    white-space: nowrap;
    border-bottom: none !important;
}

    #nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        white-space: nowrap;
    }


    /* #nav li:not(:first-child) {
        padding-left: 20px;
    } */

    #nav li {
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        white-space: nowrap;
        padding-left: 41.5px;
    }

.dropdown-menu li {
    padding-left: 0px !important;
}

#nav a {
    color: #000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    white-space: nowrap;
    font-weight: bold;
}

    #nav a:hover {
        color: #000;
        text-decoration: none;
        color: #bf1c1e;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        white-space: nowrap;
    }
a.home.viewmore {
    color: #fff;
    background-color: #000;
    padding: 5px 15px;
}

#sidebar {
    background: #ffffff !important;
    border-left: 1px solid #dddddd;
    margin-top: 110px;
}

#wrap,
#sidebar {
    background: #ffffff !important;
}

#main {
    background: #ffffff !important;
    margin-top: 110px;
    padding-bottom: 10px;
}

#mobilemain {
    float: left;
    width: 630px;
    padding: 10px;
    margin-top: 25px;
    background: #dddddd;
}

#sidebar {
    background: #dddddd;

}

#mobilesidebar {
    float: right;
    width: 290px;
    padding: 10px;
    margin-top: 25px;
    background: #dddddd;
}

#footer {
    padding: 20px 18px 65px 40px;
    font-size: 1em;
    color: #000000;
    background-color: #dedede;
}
.footer-deliver {
margin-top: 25px;
margin-bottom: 10px;
}
.footer-social .fa {
    color: #000;
    font-size: 19px;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 20px;
}
form.footer-form {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}
    #footer p {
        margin: 0;
    }

* html #footer {
    height: 1px;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 20px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #b70909;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
}

    #myBtn:hover {
        background-color: #555;
        /* Add a dark-grey background on hover */
    }

.img-center {
    margin-left: auto;
    margin-right: auto;
}

.search input {
    width: 100%;
    margin-bottom: 5px;
}

.skaters {
    margin-bottom: 10px;
}

.contests {
    text-align: center;
    height: 260px;
    margin-top: 0px;
}
    .contests h2 {
        font-size: 1.1em;
    }

.trans-info img {
    margin-bottom: 10px;
}
.more-cats {
    font-size: 1em;
    display: inline-block;
    margin-right: 20px;
    min-height: 24px;
}
.SkaterBlocks {
    width: 100%;
    float: left;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .home-slider {
        min-height: 340px !important;
    }
}


/* Ipad PRO */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1365px) {

    #nav li {
        padding-left: 33px;
    }

    #sidebar {
        margin-top: 110px;
        border-left: 1px solid #ddd;
    }
}

@media only screen and (min-width: 834px) and (max-width: 1024px) {
    #fixedheader {
        max-width: 750px !important;
    }
    #nav li {
        padding-left: 1px !important;
    }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    #fixedheader {
        max-width: 981px;
    }

    #sidebar {
        margin-top: 110px;
        border-left: 1px solid #ddd;
    }
    .home-slider {
        margin-top: 72px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .navbar-nav > li > a {
        padding-left: 9px;
        padding-right: 9px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    #fixedheader {
        max-width: 750px !important;
    }
    .logo {
        margin-left: auto;
        margin-right: 24%;
    }
    #main {
        margin-top: 175px;
    }

    #nav li {
        padding-left: 14px;
        font-size: 9px;
    }

    .BlogPost img {
        margin-left: auto;
        margin-right: auto;
    }

    .product-title {
        text-align: center;
    }

    #sidebar {
        margin-top: 0px;
        border-left: 1px solid #ddd;
    }

    h1,
    h2 {
        text-align: center;
    }

    input#t {
        width: 100%;
        margin-bottom: 10px;
    }

    .ProductBlock {
        height: 290px;
    }

    .staff img {
        width: 100%;
    }
    select#ctl00_cphMain_x_Exp_Date_MONTHPORTION {
        width: 100%;
    }
    select#ctl00_cphMain_x_Exp_Date_YEARPORTION{
        width: 100%;
    }
    #MasonryWrapper {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    .Button {
       width: 100%;
    }
}
/*Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    div#overflow-fix {
        overflow-x: hidden !important;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
    }

    div#fixedheader .navbar {
        min-height: 9px;
    }
    .navbar-header .pull-right{
        float: none !important;
    }
    .navbar-default .navbar-toggle{
        float: none;
        margin-left: 20px;
    }
    
    .slider {
        padding-top: 72px;
    }

    .Button {
       width: 100%;
    }

}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .navbar-nav > li > a {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        line-height: 15px !important;
    }
    
    .BlogPost input[type="text"] {
        width: 100% !important;
        height: 35px;
        margin-bottom: 6px;
    }

    .BlogPost input[type="submit"] {
        width: 100%;
    }

    .footer-deliver {
        margin-left: auto;
        margin-right: auto;
    }

    div#overflow-fix {
        overflow-x: hidden;
    }

    #fixedheader {
        max-width: 416px;
    }

    #main {
        margin-top: 70px;
    }

        #main.fourofourbod {
            margin-top: 64px;
        }

    .BlogPost {
        padding: 20px 10px 10px 10px;
    }

        .BlogPost img {
            margin-left: auto;
            margin-right: auto;
        }

    .logo {
        padding-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .home-slider {
        margin-top: 64px;
    }

    .product-title {
        text-align: center;
    }

    #sidebar {
        margin-top: 0px;
        clear: both;
    }

    h1 {
        text-align: center;
    }

    #tampa-pro-home {
        height: 120px !important;
        background-size: contain !important;
    }

    .WhatsUpFloat {
        margin-right: 10px;
    }
    .skater-results {
        text-align: center;
    }

    #headercart {
        padding-top: 15px;
    }

    nav.navbar.navbar-default {
        height: 0px;
        min-height: 0px;
    }

    .slider {
        padding-top: 50px;
    }

    div#nav {
        border-bottom: 3px solid #000 !important;
    }

    li.dropdown.open {
        background-color: #e7e7e7;
    }

    .dropdown li {
        text-align: center;
    }

    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 3px 0px 3px 0px !important;
    }

    #footer {
        padding: 20px 0px;
        text-align: center;
    }

    .cart {
        text-align: center;
    }

    .checkout-cart-title {
        font-size: 2em;
        line-height: 1em;
    }

    .cart-id-number {
        font-size: 1.2em;
    }

    .cart-price {
        font-weight: bold;
        margin-top: 10px;
    }
    .free-shipping-buy {
        font-size: 20px;
    }
    input.BuyButtonInput {
        width: 100%;
        margin-top: 5px;
    }

    .shipping-address {
        text-transform: uppercase;
    }

    .order-summary {
        padding: 30px 0px;
    }
    #MasonryWrapper {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    .NewArrivalSmallBlock{
        height: auto;
    }
    .FeatCompanies h2 {
        font-size: 1em;
    }
    .Ollie {
        padding: 0px;
    }
    .BlogPost.home-post .Ollie img {
        float: left;
        max-width: 120px;
        margin-top: 3px;
        margin-right: 10px;
    }

    .Button {
       width: 100%;
    }
}
    /* Custom, iPhone Retina */
    @media only screen and (max-width: 320px) {
        .BlogPost img {
        margin-left: auto;
        margin-right: auto;
    }

    .product-title {
        text-align: center;
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .1s ease !important;
    -o-transition: height .1s ease !important;
    transition: height .1s ease !important;
}